:root {
  overflow-x: hidden;
}

.main-wrap {
  width: calc(100vw - 40px);
  max-width: 350px;
}

.mr-10 {
  margin-right: 10px !important;
}

/* UserList 스타일 */
.user-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image-wrapper,
.more-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.profile-image-wrapper {
  overflow: hidden;
  margin-bottom: 5px;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nickname-text {
  font-size: 10px;
  text-align: center;
}

/* UserListBox 스타일 */
.user-list-box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 40px;
}

.more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}

.more-button span {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 4px;
  background-color: #ababab;
}

.more-button span:last-child {
  margin-right: 0;
}
/* MainTile */
.tile-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3개의 열 */
  grid-template-rows: repeat(3, 1fr); /* 3개의 행 */
  gap: 5px;
  width: 100%;
  height: calc(100vw - 40px);
  max-height: 350px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-size: 20px;
  overflow: hidden;
  padding: 15px;
}

.grid-item:nth-child(5) {
  cursor: pointer;
  position: relative;
}

.grid-item:nth-child(5)::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0;
  transition: all 0.3s;
}

.grid-item:nth-child(5):hover::after {
  opacity: 0.2;
}

.grid-item span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.goal-percent {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.goal-percent .star-wrap {
  display: flex;
}
.goal-percent .star-wrap svg:not(:first-child) {
  margin-left: -20px;
}
.goal-list li {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.goal-list li:nth-child(5) {
  display: none;
}
.goal-list li span {
  display: inline-block;
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.css-ly0n5-MuiBottomNavigation-root {
  width: 100% !important;
}

/* 나의 계획표 */
.myplan-list.end {
  margin-top: 25px;
}
.myplan-list-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 18px;
}
.myplan-list .my-list-box {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;
  height: 50px;
}
.myplan-list .my-list-box:last-child {
  margin-bottom: 0;
}
.my-list-box .plan-title {
  width: 100%;
}
